* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    position: absolute;
    width: 100%;
    height: 100vh;

    background-color: var(--Light-gray);
}

.container {
    width: 400px;
    height: 600px;

    border: 1px solid white;
    background-color: var(--white);

    display: grid;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 150px;
    
    border-radius: 15px;
}

.qr-code-container {
    position: relative;
    width: 90%;
    height: 350px;

    margin: 0 auto;
    margin-top: 10px;

    border-radius: 15px;
}

.qr-code-container img {
    width: 100%;
    height: 350px;

    border-radius: 15px;
}

.text-container {
    position: relative;
    width: 90%;
    height: 200px;

    margin: 0 auto;
    border-radius: 15px;

    text-align: center;
}

.text-container h2 {
    margin-top: 10px;
}

.text-container p {
    color: gray;
}

.attribution {
    position: relative;
    bottom: 0;
}


/* Responsive */

@media (max-width: 416px) {
    .container {
        width: 90%;
    }
    .text-container {
        height: fit-content;
    }
}